@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* FONTS fra PMG */
@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo/2036.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo/2032.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo/2030.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
}

p, a, button {
  font-family: "Roboto Condensed", sans-serif; 
}

h1 {
  font-family: 'Museo', sans-serif;
  font-weight: 900;
}

h2, h3 {
  font-family: 'Museo', sans-serif;
  font-weight: 700; 
}


.fluid-title {
  font-size: clamp(2rem, 6vw + 1rem, 6rem);
}

.fluid-text {
  font-size: clamp(1rem, 4vw + 0.5rem, 4rem);
}